
*.a
*.o
*.obj
*.def
*.pdb
*.exp
picoc
build/*
archives/

CMakeLists.txt
picoc.plist
picoc.config
picoc.creator
picoc.creator.user
picoc.files
picoc.includes
tests/fred.txt

analysis.txt
gmon.out
tests/gmon.out
.idea/
